.paginationContainer {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  margin-top: 10px;
}
.paginationContainer > li {
  margin: 10px;
  cursor: pointer;
}
.paginationContainer > li > a {
  transition: 0.2s linear;
}
.active > a {
  color: white !important;
  text-decoration: underline 0.15em rgba(255, 255, 255, 1);
}

@media screen and (max-width: 600px) {
  .page,
  .break {
    display: none;
  }
}
